@inherits LayoutComponentBase

<body>
    <header>
        <h1 id="mainTitle"></h1>
    </header>
    <div id="stickyBar" >
        <a href="" class="barButton" >Home</a>
        <a href="" class="barButton" >Projects</a>
        <a href="" class="barButton" >Contact</a>
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</body>
<footer>
    <a href="#mainTitle">Go to top</a>
    <a href="">Mail me</a>
    <p>Copyright 2023</p>
</footer>
    

