@page "/"

<h3>HelloPizza</h3>

<SurveyPrompt Title="@brandWords" SubTitle="@welcomeMessage" />

@code {
    private string brandWords = "Fine Pizza";
    private string welcomeMessage = "However you like your pizzas, we can deliver them fast!";
}
