/* _content/Dotnet-Proj/Shared/BarButton.razor.rz.scp.css */
.BarButton[b-0fy3o7bz4j] {
    color: black;
    border: none;
    margin: 0;
    padding: 13px;
    display: inline-block;
    border: none;
    text-decoration: none;
}

.BarButton:hover[b-0fy3o7bz4j] {
    background-color: #f0f8ff;
}

div[b-0fy3o7bz4j]{
    top: 0;
    float: left;
    margin: 0;
    display: inline-block;
}

/* _content/Dotnet-Proj/Shared/MainLayout.razor.rz.scp.css */
.page[b-f52wtair24] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-f52wtair24] {
    flex: 1;
}

.sidebar[b-f52wtair24] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-f52wtair24] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-f52wtair24]  a, .top-row .btn-link[b-f52wtair24] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-f52wtair24] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-f52wtair24] {
        display: none;
    }

    .top-row.auth[b-f52wtair24] {
        justify-content: space-between;
    }

    .top-row a[b-f52wtair24], .top-row .btn-link[b-f52wtair24] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-f52wtair24] {
        flex-direction: row;
    }

    .sidebar[b-f52wtair24] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-f52wtair24] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-f52wtair24], article[b-f52wtair24] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/Dotnet-Proj/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-7syggmlt6z] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-7syggmlt6z] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-7syggmlt6z] {
    font-size: 1.1rem;
}

.oi[b-7syggmlt6z] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-7syggmlt6z] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-7syggmlt6z] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-7syggmlt6z] {
        padding-bottom: 1rem;
    }

    .nav-item[b-7syggmlt6z]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-7syggmlt6z]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-7syggmlt6z]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-7syggmlt6z] {
        display: none;
    }

    .collapse[b-7syggmlt6z] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* _content/Dotnet-Proj/Shared/ProjectDoor.razor.rz.scp.css */
.DoorBox[b-bmw7ddj1n8] {
    text-decoration: none;
    display: inline-flex;
    background-color: grey;
    border-radius: 4px;;
    margin: 5px;
    align-items: center;
    max-width: 217px;
}

.DoorContent[b-bmw7ddj1n8] {
    display: block;
    padding: 25px;
    margin: 0 auto;
    width: 200px;
    height: 250px;
    text-decoration: none;
    overflow: hidden;

}

.DoorContent:hover[b-bmw7ddj1n8]{
    background-color: darkgray;
    border-radius: 4px;
}

.Preview[b-bmw7ddj1n8] {
    width: 125px;
    border-radius: 100%;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    text-align: center;
}

.DoorText[b-bmw7ddj1n8] {
    color:rgb(255, 255, 255);
    margin: 12px;
    height: 50px;
    display: block;
    border-radius: 4px;
    justify-content: center;;
}

.title[b-bmw7ddj1n8] {
    font-size: 17px;
    text-overflow: ellipsis;
    display: inline;
    width: 100px;
    padding: 0 auto;
}

.description[b-bmw7ddj1n8] {
    font-size: 12px;
    display: block;
}
/* _content/Dotnet-Proj/Shared/TopBar.razor.rz.scp.css */
.TopBar[b-3u0f3lyvrf] {
    border: none;
    margin: 0;
    padding: 0;
    background-color: #708090;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;

    
}

.home-btn[b-3u0f3lyvrf] {
    text-decoration: none;
    color: black;
    border: none;
    margin: 0;
    padding: 13px;
    display: inline-block;
    float: left;
}

.home-btn:hover[b-3u0f3lyvrf] {
    background-color: #f0f8ff;
}

.Buttons[b-3u0f3lyvrf] {
    margin: 0;
    background-color: aqua;
    display: inline-block;
}
