<div class="BarButton" >
    <a class="BarButton" href="@RefPage">@Title</a>
</div>

@code{
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public string? RefPage { get; set; }
}