@inherits LayoutComponentBase

<PageTitle>Diego Villaseñor Portfolio</PageTitle>

<div class="page">
        <TopBar />

    <main>
        <article class="content px-4" style="margin-top: 50px;">
            @Body
        </article>
    </main>
</div>
