<div class="DoorBox" >
    <a class="DoorContent" href="@ProjectPage">

        <img src="../images/@Image" alt="@Title" class="Preview">
        
        <div class="DoorText" >
            <h3 class="title" >@Title</h3>
            <p class="description" >@Description</p>
        </div>
        
    </a>
</div>

@code {
    [Parameter]
    public string? ProjectPage { get; set; }
    [Parameter]
    public string? Image { get; set; }
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public string? Description { get; set; }


}