<div class="TopBar" >
    <div class="home-btn" >
        <a href="">Home</a>
    </div>
    <nav class="Buttons" >
        <BarButton Title="Projects" RefPage="projects" />
        <BarButton Title="Contact" RefPage="contact" />
    </nav>
</div>