<div class="TopBar" >
        <a class="home-btn" href="">Home</a>
    <nav class="Buttons" >
        <BarButton Title="Projects" RefPage="projects" />
        <BarButton Title="Contact" RefPage="contact" />
    </nav>
</div>