* {
    box-sizing: border-box;
}

.home-btn {
    color: aliceblue;
    border: none;
    background-color: blue;
    margin: 0;
    padding: 12px;
    display: inline-block;
}

.TopBar {
    border: none;
    margin: 0;
    padding: 0;
    background-color: #708090;
    display: flexbox;
    flex-direction: row;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;

    
}

.BarButton {
    margin: 0;
    display: inline-block;
    background-color: antiquewhite;
    padding: 15px;
    border: none;
}

.Buttons {
    margin: 0;
    background-color: aqua;
    display: inline-block;
}