@page "/Projects"

<PageTitle>Projects</PageTitle>

<h1>Projects</h1>

<main>
    <ProjectDoor ProjectPage="https://github.com/learsito" Image="avatarLearsit.jpg" Title="This web." Description="Check it out at GitHub! Check it out at GitHub! Check it out at GitHub!" />
    <ProjectDoor Image="preview.jpg" ProjectPage="P1" Title="Sample Proj" Description="This is an example" />
    <ProjectDoor Image="preview.jpg" ProjectPage="P1" Title="Sample Proj" Description="This is an example" />
    <ProjectDoor Image="preview.jpg" ProjectPage="P1" Title="Sample Proj" Description="This is an example" />
    <ProjectDoor Image="preview.jpg" ProjectPage="P1" Title="Sample Proj" Description="This is an example" />
    <ProjectDoor Image="preview.jpg" ProjectPage="P1" Title="Sample Proj" Description="This is an example" />
    <ProjectDoor Image="preview.jpg" ProjectPage="P1" Title="Sample Proj" Description="This is an example" />
</main>