@page "/Projects"

<PageTitle>Projects</PageTitle>

<h1>Projects</h1>

<main>
    <ProjectDoor Image="preview.jpg" ProjectPage="P1" Title="Sample Proj" Description="This is an example" />
    <ProjectDoor Image="preview.jpg" ProjectPage="P1" Title="Sample Proj" Description="This is an example" />
    <ProjectDoor Image="preview.jpg" ProjectPage="P1" Title="Sample Proj" Description="This is an example" />
    <ProjectDoor Image="preview.jpg" ProjectPage="P1" Title="Sample Proj" Description="This is an example" />
    <ProjectDoor Image="preview.jpg" ProjectPage="P1" Title="Sample Proj" Description="This is an example" />
    <ProjectDoor Image="preview.jpg" ProjectPage="P1" Title="Sample Proj" Description="This is an example" />
    <ProjectDoor Image="preview.jpg" ProjectPage="P1" Title="Sample Proj" Description="This is an example" />
</main>