@page "/"

<section id="layOut" >
    <article class="post" >
        <h2>postTitle</h2>
        <img src="img/learsito.jpg" height="400">
        <p>postDescription</p>
    </article>
    <div class="post" >
        <h2>postTitle</h2>
        <img src="img/archLogo.png" height="400">
        <p>postDescription</p>
    </div>
</section>