.DoorBox[b-bmw7ddj1n8] {
    text-decoration: none;
    display: inline-flex;
    background-color: grey;
    border-radius: 4px;;
    margin: 5px;
    align-items: center;
    max-width: 217px;
}

.DoorContent[b-bmw7ddj1n8] {
    display: block;
    padding: 25px;
    margin: 0 auto;
    width: 200px;
    height: 250px;
    text-decoration: none;
    overflow: hidden;

}

.DoorContent:hover[b-bmw7ddj1n8]{
    background-color: darkgray;
    border-radius: 4px;
}

.Preview[b-bmw7ddj1n8] {
    width: 125px;
    border-radius: 100%;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    text-align: center;
}

.DoorText[b-bmw7ddj1n8] {
    color:rgb(255, 255, 255);
    margin: 12px;
    height: 50px;
    display: block;
    border-radius: 4px;
    justify-content: center;;
}

.title[b-bmw7ddj1n8] {
    font-size: 17px;
    text-overflow: ellipsis;
    display: inline;
    width: 100px;
    padding: 0 auto;
}

.description[b-bmw7ddj1n8] {
    font-size: 12px;
    display: block;
}