.TopBar[b-3u0f3lyvrf] {
    border: none;
    margin: 0;
    padding: 0;
    background-color: #708090;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;

    
}

.home-btn[b-3u0f3lyvrf] {
    text-decoration: none;
    color: black;
    border: none;
    margin: 0;
    padding: 13px;
    display: inline-block;
    float: left;
}

.home-btn:hover[b-3u0f3lyvrf] {
    background-color: #f0f8ff;
}

.Buttons[b-3u0f3lyvrf] {
    margin: 0;
    background-color: aqua;
    display: inline-block;
}