body[b-to490ra8f2] {
    background-color: antiquewhite;
    padding: 0;
    margin: 0;
}

#mainTitle[b-to490ra8f2] {
    color: antiquewhite;
    background-color: slategrey;
    margin: 0;
    text-align: center;
    padding: 50px;
}

#stickyBar[b-to490ra8f2] {
    color: antiquewhite;
    background-color: slategrey;
    padding: 10px;
    margin: 0;
    position: sticky;
    top: 0;
}

.barButton[b-to490ra8f2] {
    color: antiquewhite;
    text-decoration: none;
    margin: 0;
    padding: 13px;
}

.barButton:hover[b-to490ra8f2] {
    background-color: antiquewhite;
    cursor: pointer;
    color: slategrey;
}
